<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirate Treasure</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <script src="../public/libraries/p5.js"></script>
    <script src="../public/libraries/p5.sound.min.js"></script>
</head>
<body style="background-color: #2C3E50; margin-top: 10%;">  
  <main>
    <h1 class="title">About Pirate Treasure!</h1>    
    <p>This is a javaScript and p5.js pirate game!  </p>
    <br><br>
    <h3>Developers</h3> 
    <h5>Joana Almeida</h5>
    <h5>J. Francisco Oliveira</h5>
    

        

        
  </main>      
    


  </body>
</html>