<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <script src="../public/libraries/p5.js"></script>
    <script src="../public/libraries/p5.sound.min.js"></script>
</head>
<body>
    <a href="/" style="color:white; margin-left: 2%; padding-top: 10pt; font-size: 10pt;">back</a>
    <main>
        <h2>- Pirate Treasure -</h2>
        <h5>Pontuação: 00  ||  Tempo: 300</h5>
    
    <script src="../public/sketch.js" class="sketch_script" ></script>
    </main>
    
</body>
</html>
