<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <script src="../public/libraries/p5.js"></script>
    <script src="../public/libraries/p5.sound.min.js"></script>
</head>
<body style="background-color: #2C3E50; margin-top: 10%;">         
    <h1 class="title">Welcome to <br> Pirate Treasure!</h1>
    <% if (login) { %>                
        <h3>Usuario conectado: <strong><%= name %></strong></h3>                        
        <a href="logout" class="a-logout">Logout</a>

        <div class="menu">
            <ul>
              <a href="game"> <li class="button button--start">Start</li></a>
              <a href="https://www.google.com"><li class="button button--scores">About</li></a>
              <a href="https://www.google.com"><li class="button button--about">a definir</li></a>
            </ul>
          </div>

       <!--  <h2>Pirate Treasure </h2>
        <script src="../public/sketch.js" class="sketch_script"></script> -->
        
    <%} else { %>
      <img src="./public/img/gifindex.gif" alt="boat one piece" style="width:500px;">
        <h1><strong><%= name %></strong></h1>   
        <a href="login" class="a-login">Login</a>
        <a href="register" class="a-register">Register</a>
    <% } %>


  </body>
</html>